@font-face {
    font-family: Main;
    src: url(Font/Merienda/Merienda-VariableFont_wght.ttf);
    font-size: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: Text-font;
    src: url(Font/Bona_Nova_SC/BonaNovaSC-Regular.ttf);
    font-size: normal;
    font-weight: normal;
    display: swap;
}
:root {
    --Main-Font: Main;
    --Font-Size: calc(1.4rem + 2.5vw);
    --Logo-Width: calc(max(7.5vh, 7.5vw));
    --Logo-Height: calc(max(9.5vh, 9.5vw));
    --Footer-margin: calc(95vh - calc(20vh + var(--Logo-Height)));
    --Intro-text: calc(0.6rem + max(0.5vh, 0.55vw));
    --two-Margin: calc(10px + min(4vw, 4vh));
}
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

.one {
    width: 40vw;
    min-height: 100vh;
    background-image: url(Img/bg.png);
    background-position: bottom 0px left 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.two {
    width: 60vw;
    min-height: 100vh;
    background-color: rgb(245, 255, 245);
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    width: 100%;
    background-color: rgba(10, 4, 4, 0.315);
}
.text {
    font-family: var(--Main-Font);
    font-size: var(--Font-Size);
    font-weight: 500;
    color: antiquewhite;
}
img[alt = "Odin"] {
    width: var(--Logo-Width);
    height: var(--Logo-Height);
}
.one> footer>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--Main-Font);
    font-size: 0.7rem;
}
.one> footer {
    margin-top: var(--Footer-margin);
    text-align: center;
}

.right {
    width: 100%;
}
.Intro-text{
    max-width: 800px;
    font-family: Text-font;
    font-size: var(--Intro-text);
    margin-left: var(--two-Margin);
    margin-top: 10px;
}
p>a {
    text-decoration: none;
    color: rgb(8, 85, 152);
}

.Form {
    background-color: #fff;
    margin-top: 15px;
    box-shadow: 3px  4px 5px 1px rgba(164, 164, 164, 0.402);
}
.Form > p {
    font-family: monospace;
    font-size: 16px;
    margin-left: var(--two-Margin);
    box-sizing: content-box;
    padding-top: 10px;
}
input {
    border: 1px solid black;
    display: block;
    font-family: var(--Main-Font),monospace,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 25px;
    width: clamp(150px, 30vw, 300px);
    padding-left: 2px;
    border-radius: 5px;
}
form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: var(--two-Margin);
    gap: 20px;
    padding: 20px 0;
    max-width: 750px;
}
label {
    font-family: monospace;
    font-size: calc(0.6rem + clamp(min(0.5vh, 0.5vw), max(0.5vh, 0.5vw), 6px));
    font-weight: 500;
    color: rgb(5, 8, 49)
}

button {
    background-color: rgb(2, 126, 85);
    box-sizing: content-box;
    padding: 8px 30px;
    border-radius: 7px;
    box-shadow: 0.2px 0.5px 5px 0px rgba(176, 175, 175, 0.928);
    font-family: var(--Main-Font);
    font-size: 12px;
    margin: 20px var(--two-Margin);
}
.sign-in {
    margin-left: var(--two-Margin);
    font-family: monospace;
    color: rgb(5, 8, 49);
}

input:focus {
    box-sizing: content-box;
    border: none;
    outline: none;
    box-shadow: 1px 1.5px 2.5px 0px rgb(38, 36, 36);
    border: 1.5px solid rgb(0, 0, 255);
}
input[type = "password"]:focus:invalid {
    box-sizing: content-box;
    border: 1.8px solid rgb(255, 0, 0);
}
input[type = "password"]:invalid {
    box-sizing: content-box;
    border: 1.8px solid rgb(129, 50, 50);
}
input {
    box-sizing: content-box;
    border: 1.8px solid rgb(0, 0, 0);
}
input:focus:valid, 
 input:valid {
    border: 1.8px solid green;
}

input:hover {
    box-shadow: 1px 1.5px 2.5px 0px rgb(38, 36, 36);
    box-sizing: content-box;
}
button:hover, button:active {
    box-shadow: 0.5px 1px 1px 0px rgba(1, 61, 1, 0.761);
}
a:hover {
    color: rgb(0, 91, 70)
}